<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>

<body link="blue">
    <nav>
        <a href="/">Home Page</a>
        <a href="/contato">Contato</a>
        <a href="/produtos">Produto</a>
    </nav>

    <a href="/gerar-cpf" class="botoes">Gerar CPF</a>
    <a href="/gerar-cnpj">Gerar CNPJ</a>


    {% block content %}
    {% endblock %}

    <footer>
        <p>Desenvolvido por Jojo</p>
    </footer>

    <a href="/termos-de-uso">Termos de uso</a>
    <a href="/politica-privacidade">Política privacidade</a>
    <a href="/como-utilizar">Como utilizazr</a>

</body>

</html>