<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>

<body link="blue">
    <nav>
        <a href="/" class="link-superior">Home Page</a>
        <a href="/contato" class="link-superior">Contato</a>
        <a href="/produtos" class="link-superior">Produto</a>
        <!--<a href="/produtos/cadastro">cadastro produtos</a>-->
    </nav>
    <!-- <a href="/gerar-cpf" class="botoes">Gerar CPF</a>
    <a href="/gerar-cnpj">Gerar CNPJ</a>-->
   

    {% block content %}
    {% endblock %}

    <div class="fixar">
        <hr>
        <footer >
            <p>Desenvolvido por Jojo</p>
        </footer>
    </div>

    <div class="container-links-inferiores">
        <nav>
            <a href="/termos-de-uso" class="link-inferior">Termos de uso</a>
            <a href="/politica-privacidade" class="link-inferior">Política privacidade</a>
            <a href="/como-utilizar" class="link-inferior">Como utilizar</a>
        </nav>
    </div>
    

</body>

</html>