{% extends "base2.html"%}

{% block title %}Política privacidade{% endblock %}

{% block content %}
<h1>Política privacidade</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima voluptates perspiciatis accusamus corporis maxime libero at ullam provident culpa excepturi quo reprehenderit iure ipsa, dolor beatae praesentium vel. Eveniet, nisi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, est nisi deleniti ab error alias ipsa! Quae voluptatem modi nam eligendi ea incidunt iusto impedit tenetur unde. Numquam, porro voluptas!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab pariatur iure provident excepturi architecto animi voluptatibus nobis odio odit temporibus aspernatur, quam nam aperiam culpa hic omnis consequuntur ut iste.</p>
{% endblock %}