{% extends "base2.html"%}

{% block title %}Termos de uso{% endblock %}

{% block content %}
<h1>Termos de uso</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima voluptates perspiciatis accusamus corporis maxime libero at ullam provident culpa excepturi quo reprehenderit iure ipsa, dolor beatae praesentium vel. Eveniet, nisi.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima voluptates perspiciatis accusamus corporis maxime libero at ullam provident culpa excepturi quo reprehenderit iure ipsa, dolor beatae praesentium vel. Eveniet, nisi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, est nisi deleniti ab error alias ipsa! Quae voluptatem modi nam eligendi ea incidunt iusto impedit tenetur unde. Numquam, porro voluptas!</p>
{% endblock %}